body{
    background-color: #6b7d81;
    font-family: "Trirong", serif;
}
.card{
    width: 654px;
    height: 420px;
    border-radius: 10px 10px 10px 10px ;
    margin: 50px auto; /*بعده عن الشاشه + auto لليمين واليسار*/
    box-shadow: 10px 14px 32px 10px rgb(250, 249, 249);

}
img {
    border-radius: 10px 0px 0px 10px;
    float: left;
}
.card-info{
    float: left;
    background-color: #eafdfd;
    /*To Stay with the img */
    width: 327px;
    height: 420px;
    border-radius: 0px 10px 10px 0px;
}
.perfume{
    color: #958888;
}
.text{
    margin: 0 40px ;
    font-size: 14.5px;
    padding-bottom: 12px;
    
}
.txt{
    color: #8c939e;
    font-size: 16.5px;
    font-weight: lighter;
    padding-top: 0px;
    
}
.perfume{
    letter-spacing: 0.1em;
}
.price-button{
    display: block;
    position:absolute;
    float :right;
    margin: -40px 0px 0px 0px;
    color: rgb(58, 18, 5);
    
}
.mms{
    
    text-decoration: line-through;
    position: relative;
    left: 70px;
    margin-right: 40px;
}
.price{
   
    padding-top: 10px;
    font-size: 20px;
    margin-left: 40px;
}
.price-button button:hover {
    background-color: #6b2117;
  }
.btn{
    height:50px;  
    width: 253px;  
    margin-right: 0px auto;  
    position:inherit;
    left: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(129, 55, 30);
    border: none;
}
.kks{
    font-size: 40px;
}